main {
    padding: 2% 20%;
}

h2, h3{
    text-align: center;
    margin: 30px 0 30px 0;
    font-family: sans-serif;
}   

table {
    width: 100%;
    border-spacing: 0 12px;
    font-family: sans-serif;
    font-size: 15px;
}

input {
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: #f3f1f1;
    font-size: 14px;
    font-family: sans-serif;
    height: 20px;
}

table td {
    width: auto;
    text-align: center;
}

.title{
    font-family: sans-serif;
    font-size: 17px;
}

.number {
	display: inline-block;
	position: relative;
	width: 40%;
}

.number input[type="number"] {
	display: block;
	line-height: 28px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
    border: none;
    background: #f4f2f2;
}

.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.number-minus, .number-plus {
	position: absolute;
	top: 1px;
	bottom: 1px;
	width: 20px;
	padding: 0;
	border: none;
	border-right: 1px 1px solid #ddd;
	font-size: 16px;
	font-weight: 600;
}

.number-minus {
	left: 1px;
}

.number-plus {
	right: 1px;
}

.delete{
    margin-left: 10px;
    width: 28px;
    height: 28px;
    border: none;
    background-image: url('../images/cart/deleteIcon.png');
    background-size: cover;
    background-color: white;
}

#price{
    text-align: right;
    background: #040632;
    color: white;
    padding: 2%;
    font-family: sans-serif;
    font-size: 24px;
}

.contact-block {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    font-family: sans-serif;
}

.contact-info{
    background: #e9e8e8;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
    padding: 3%;    
    margin: 3%;
}

.contact-info p{ 
    margin: 0 2% 4% 0;
} 

.obligatory-field{
    display: flex;
}

.warning{
    color: #dd0808;
    font-weight: bold;
    font-size: 22px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

#right-block{
    margin-top: 7%;
}

form button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 50px;
    font-size: 19px;
    font-family: sans-serif;
}
