/*Header*/
#user-button {
    float: right;
    margin: 5px;
}

#cart-button {
    float: right;
    margin: 5px;
}

#menu-button {
    margin: 5px;
}

#header-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}   

/*Dropdown*/
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
}

.dropdown:hover .dropdown-options {
    display: block;
}

.dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding: 20px 40px;
    background-color: #6f71f1;
}

.dropdown-options a:hover {
    color: #0a0a23;
    background-color: #486aff;
    border-radius: 5px;
}

/*Slider*/
#slider-item-1 {
    background: url("../images/index/slider_image_1.jpg") no-repeat center;
}

#slider-item-2 {
    background: url("../images/index/slider_image_2.jpg") no-repeat center;
}

.content {
    text-align: center;
    vertical-align: middle;
}

/*Preferences*/
.preferences {
    margin-left: 20%;
    margin-right: 20%;
}

.preference-item {
    text-align: center;
    display: inline-block;
    margin: 30px;
}

.right-item {
    float: right;
}

/*About*/
.about {
    margin: 5% 20%;
    position: relative;
}

.about p {
    float: right;
    width: 400px;
}

/*Footer*/
footer {
    padding: 0% 25%;
    flex: 0 0 auto;
}

#right-footer {
    float: right;
}

#left-footer {
    display: inline-block;
}

#email p {
    float: right;
}

/*Для прижатия footer к низу*/
main {
    flex: 1 0 auto;
}

body {
    display: flex;
    flex-direction: column;
}

html,
body {
  height: 100%;
}