main {
    margin-left: 5%;
}

h2{
    /* text-align: center; */
    margin: 30px 0 60px 260px;
    font-family: sans-serif;
    font-size: 30px;
}   

.wrapper {
    padding: 3% 5%;
    display: flex;
    justify-content: space-around;
    /* flex: 1 0 auto; */
    font-family: sans-serif;
}

nav {
    padding: 8% 0;
    display: inline;
}

nav li {
    list-style-type: none;
    margin-top: 6px;
}

nav h3{
    font-size: 17px;
    margin-top: 25%;
}

nav a{
    text-decoration: none;
    color: #0a4996;
    border-bottom: 1px solid;
    border-bottom-color: rgba(15, 122, 252, 0.2);
    font-size: 15px;
}

a:hover{
    text-decoration: none;
    color: #cf0000;
    border-bottom-color: rgba(208, 64, 0, 0.2);
}

form{
  /* transform: translate(20%, 0%); */
  /* text-align: center; */
    margin-left: 25%
}

.form-item {
    margin-bottom: 20px;
    transform: translate(-3%, 0%); 
    font-size: 18px;
    /* text-align: center; */
}

#form-img{
    margin-bottom: 20px;
}

.form-button{
    /* margin-bottom: 15px; */
    transform: translate(-40%, 0%);
}

form button {
    /* margin-bottom: 15px;
    transform: translate(-3%, 0%);  */
    /* height: 100px; */
    /* text-align: center; */
    position: relative;
    left: 57%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
    width: 300px;
}

#form-img label{
    /* text-align: center; */
}

.form-item label {
    /* float: left; */
    margin-right: 10px;
}

#label-photo {
    display: block;
    float: none;
}

input {
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: #f3f1f1;
    font-size: 14px;
    font-family: sans-serif;
    height: 20px;
}